@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');

body {
    transition: 1s ease;
}
.mainContainer {
    display: flex;
    height: 55rem;
    align-items: center;
    justify-content: center;
}

.clockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.clockContainer button{
    font-family:sans-serif;
    font-size: 2rem;
    border: none;
    background: none;
    transition: 1s ease;
}

.clockContainer .button-black {
    color: white;
    transition: 1s ease;
}

.clockContainer button:hover{cursor: pointer;}

.clock {
    height: 50%;
    width: 30%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.clock h1{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12rem;
}

.body--black{
    background-color: black;
    color: white;
    transition: 1s ease;
}