@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');


body {
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.textContainer h1{font-size: 7rem; margin: -1rem;}
.textContainer h3{font-size: 2rem;}

.timerContainer {
    color: white;
}

.buttonContainer {
    width: 28%;
    display: flex;
    justify-content: space-between;
}

.buttonContainer button{
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 1.5rem;
    border: none;
    font-size: 3rem;
}

.recordsClass h1 {
    color: gray;
}